footer{
    grid-area: footer;
    width:100vw;
    height:100vh;
   
}
footer div{
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;

}
footer > div:first-child{
    margin-bottom:15px;
}
footer > div:first-child h2{
    color:grey;
    font-size: 1.2rem;;
}
footer > div:last-child ul li{
     display:inline;
 }
footer > div:last-child ul li a{
   color:gray;
  text-decoration: none;
  font-weight: 700;
 
}
