

    header .logo{
    border:4px solid red;
    color:red;
    border-radius: 20%;
    width:3rem;
    height:1.7rem;
    text-align: center;
    font-weight: 900;
    align-items: center;
}
header{
    margin-top: 3% ;
  
}