header{
    display:flex;
    font-size: larger;
}
header button{
   width:5rem;
    background-color: blue;
    color:white;
}
.navbar{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-flow: row;
    position: relative;
    width:100vw;
    height:5vh;
}
.list-item{
    background-color: blue;
    list-style-type: none;
    padding:0.25rem;
}
.subnav-content{
    display:none;
  
}
.subnav:hover  .subnav-content{
    display:block;
    transition:0.5s;
}
.list-item:hover {
    background-color: lightgray;
    color: orange;
    transition: all 0.5s ease-in;
  }