/* with class */
/* table {
  border: 1px solid black;
  width: 800px;
  height: 800px;
}
.black {
  border: 1px solid red;
  width: 100px;
  height: 100px;
  background-color: black;
}

.white {
  width: 100px;
  height: 100px;
  border: 1px solid red;
  background-color: white;
} */
table{
    border: 1px solid black;
    width: 800px;
    height: 800px;
}
td{
    width: 100px;
    height: 100px;
    
   }
table tr:nth-child(odd) td:nth-child(even) {
    background: black;
  }
table tr:nth-child(even) td:nth-child(odd) {
    background:black;
  }