.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin-top: 32px;
}

input {
  margin-bottom: 16px;
}
