@mixin reset-list{
    margin:o;
    padding:0;
    list-style:none;
}
/* navbar */
@mixin navbar-horizontal{
    @include reset-list;
    li{
        display:inline-block;
        margin{
            left:2px;
            right:2rem;
        }
    }
}