
body{
    background-color: slategrey;
}
.main-box{
 
display:flex;
justify-content: space-around;
align-items: center;

}
@keyframes moving{
    0%{
        transform: scale(1);
    }
    100%{
        transform:scale(1.5);
    }
}
@mixin animation-moving-letters{
    animation-name: moving;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transition: 0.5s;
}
.items{
    background-color: orange;
    width:3rem;
    height:3rem;
    border-radius: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    color:grey;
    font-weight: 900;
 /*    @include animation-moving-letters; */
}
@for $i from 1 through 11{
    // hey i go form 1 to 30 and every round add by one
    .items:nth-child(#{$i}) {
     
        height: random(40) + vh;
        border-radius: 20% 0;
      //    @if ($i % 2 0= 0)  even
      // @if ($i % 2 != 0) {
      @if ($i % 2 != 0) {
        background-color: pink;
        
      }
      @include animation-moving-letters;
    }
    // i + 1
  }

